/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


/*
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
*/

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v10/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin */

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v10/0ihfXUL2emPh0ROJezvraFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
    color: #222;
}


/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
    background: #222;
    background-color: #222;
}

.reveal {
    font-family: "Ubuntu", Helvetica, sans-serif;
    font-size: 42px;
    font-weight: normal;
    color: #fff;
}

::selection {
    color: #fff;
    background: #bee4fd;
    text-shadow: none;
}

::-moz-selection {
    color: #fff;
    background: #bee4fd;
    text-shadow: none;
}

.reveal .slides>section, .reveal .slides>section>section {
    line-height: 1.3;
    font-weight: inherit;
}


/*********************************************
 * HEADERS
 *********************************************/

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    margin: 0 0 20px 0;
    color: #fff;
    font-family: "Ubuntu", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    //text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal h1 {
    font-size: 2.5em;
}

.reveal h2 {
    font-size: 1.6em;
    color: #ddfb63;
}

.reveal h3 {
    font-size: 1.3em;
    color: #ee7913;
}

.reveal h4 {
    font-size: 1em;
}

.reveal h1 {
    text-shadow: none;
}


/*********************************************
 * OTHER
 *********************************************/

.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}


/* Ensure certain elements are never larger than the slide itself */

.reveal img, .reveal video, .reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong, .reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal ol, .reveal dl, .reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}


.reveal ol {
    /* list-style-type: decimal; */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.reveal ul {
    /* list-style-type: disc; */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.reveal li {
    padding-left: 1em;
    text-indent: -.7em;
}

.reveal ol li {
  counter-increment: count-me;
}

.reveal ul li::before {
    content: "• ";
    color: #ddfb63;
}

.reveal ol li::before {
    content: counter(count-me) ". ";
    color: #ddfb63;
}

.reveal ul ul li::before {
    content: "▪ ";
    color: #42affa;
}

.reveal ul ul {
    #list-style-type: square;
    list-style-type: none;
}

.reveal ul ul ul {
    #list-style-type: circle;
    list-style-type: none;
}

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal q, .reveal blockquote {
    quotes: none;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal code {
    font-family: monospace;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th, .reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}

.reveal table th[align="center"], .reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"], .reveal table td[align="right"] {
    text-align: right;
}

.reveal table tbody tr:last-child th, .reveal table tbody tr:last-child td {
    border-bottom: none;
}

.reveal sup {
    vertical-align: super;
}

.reveal sub {
    vertical-align: sub;
}

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

.reveal .fa {
    color: #ddfb63;
    line-height: 1.4em;
}




/*********************************************
 * LINKS
 *********************************************/

.reveal a {
    color: #42affa;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
}

.reveal a:hover {
    color: #8dcffc;
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #fff;
    background: #068de9;
}


/*********************************************
 * IMAGES
 *********************************************/


/*
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
*/

.reveal section img.plain {
    border: 0;
    box-shadow: none;
}

.reveal a img {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: #42affa;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
    border-right-color: #42affa;
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
    border-left-color: #42affa;
}

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
    border-bottom-color: #42affa;
}

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
    border-top-color: #42affa;
}

.reveal .controls .navigate-left.enabled:hover {
    border-right-color: #8dcffc;
}

.reveal .controls .navigate-right.enabled:hover {
    border-left-color: #8dcffc;
}

.reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #8dcffc;
}

.reveal .controls .navigate-down.enabled:hover {
    border-top-color: #8dcffc;
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
    background: #42affa;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}


/*********************************************
 * CUSTOMIZATION
 *********************************************/
 
